.app__search {
  position: relative;
}

.app__search-loupe {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 12px;
}

.app__search-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.app__search-close {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
